.DS_Store
__pycache__
*.pyc
*.swp
*.o
*.mod.c
*.ko
*.order
*.builtin
*.cmd
*.so
*.dbg
*.s
*.a
*.bin
*.elf

# pt tool
/tools/pt/pt
/tools/pt/cmppath
/tools/pt/obj
/tools/pt/build
# angr tool
/tools/angr/ptxed/build
/tools/angr/scripts/gnu-parallel-analysis/hosts
# pyptrace tool
/tools/pyptrace/build
/tools/pyptrace/dist

# common virtualenv directory names
/env
/venv
/.env
/.venv
/.vscode

# common PyPy directory names
/pypy
